@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #00cc;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: #e63946;
    border-radius: 50px;
}

header {
    width: 100%;
    /* height menggunakan satuan vh supaya full satu layar vh(viewheight) */
    height: 100vh;
    display: grid;
    grid-template: "logo nav" 1fr "konten konten" 440px "panah panah" 100px /1fr 1fr;
    /* merubah gambar background & linear gradient untuk memberikan efek transparan kehitaman */
    background-image: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.5)), url(assets/img/header/background-header.jpg);
    /* supaya ukuran gambar muat pada background */
    background-size: cover;
    /* agar box tidak berubah */
    box-sizing: border-box;
    background-position: center;
    justify-items: center;
}

.logo {
    width: 100%;
    grid-area: logo;
    display: grid;
}

.logo img {
    justify-items: left;
    margin-left: 50px;
    height: 85px;
    width: 150px;
    display: grid;
}

nav {
    font-family: sans-serif;
    font-weight: bold;
    grid-area: nav;
    display: grid;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #f1faee;
    /* menghilangkan underscore */
    text-decoration: none;
}

nav ul li a:hover {
    transition: all 0.7s;
    color: #e63946;
}

.ikon {
    display: none;
}

.konten {
    display: grid;
    grid-area: konten;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.konten h1 {
    display: grid;
    width: 100%;
    font-size: 4em;
    line-height: 1.3;
    color: #f1faee;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.panah {
    grid-area: panah;
}

.panah a i {
    color: #f1faee;
    justify-self: center;
    align-self: center;
    animation: panah 2s infinite;
}

@keyframes panah {
    0% {
        color: #e63946;
    }
    50% {
        color: #f1faee;
    }
    100% {
        color: #e63946;
    }
}

.about {
    padding: 100px;
    background-color: #f1faee;
    display: grid;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "tulisan gambar" "tulisan gambar";
    justify-content: center;
    align-items: center;
}

.about .tulisan {
    display: grid;
    grid-area: tulisan;
    gap: 20px;
}

.about .tulisan h1 {
    font-size: 2.7em;
    line-height: 1.2;
    font-family: "Poppins", sans-serif;
}

.about .tulisan p {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.about .btnselengkapnya {
    width: 120px;
    padding: 10px;
    border-radius: 7px;
    font-family: sans-serif;
    color: azure;
    text-decoration: none;
    margin-inline-end: 20px;
    background-color: #3b06fa;
    text-align: center;
}

.btnselengkapnya:hover {
    transition: 0.5s;
    background-color: #e63946;
}

.gambar {
    grid-area: gambar;
}

.lady {
    width: 600px;
    height: 350px;
    margin-top: -100px;
}

.gbr1 {
    width: 100px;
    height: 100px;
    position: relative;
    left: 500px;
    top: 150px;
    transform: rotate(-80deg);
}

.gbr3 {
    height: 100px;
    width: 200px;
    position: relative;
    left: 300px;
    bottom: 50px;
}

.gbr4 {
    width: 100px;
    height: 80px;
    position: relative;
    right: 330px;
    top: 320px;
}

.gbr5 {
    width: 100px;
    height: 100px;
    position: relative;
    right: 400px;
    top: 10px;
}

.product {
    padding: 50px;
    order: inherit;
    display: grid;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #181625;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px 0px;
    justify-items: center;
    font-family: "Poppins", sans-serif;
}

.jdlproduct {
    order: 1;
    text-align: center;
    grid-column: 1 / -1;
}

.jdlproduct h1 {
    font-size: 2.8em;
    color: #e63946;
}

.product .jdlproduct p1 {
    display: block;
    width: 500px;
    color: #f1faee;
    font-family: sans-serif;
    line-height: 25px;
    margin: auto;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product h2 {
    color: #f1faee;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

.product p {
    color: #f1faee;
    text-align: center;
    font-size: 0.8em;
    line-height: 20px;
}

.product1 {
    order: 2;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 350px;
    justify-self: end;
    align-self: center;
}

.product1:hover {
    transform: scale(1.1);
    transition: 0.7s;
    box-shadow: 0 0 20px rgba(141, 28, 28, 0.8);
}

.product2 {
    order: 3;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 350px;
    align-self: center;
}

.product2:hover {
    transform: scale(1.1);
    transition: 0.7s;
    box-shadow: 0 0 20px rgba(141, 28, 28, 0.8);
}

.product3 {
    order: 4;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 350px;
    justify-self: start;
    align-self: center;
}

.product3:hover {
    transform: scale(1.1);
    transition: 0.7s;
    box-shadow: 0 0 20px rgba(141, 28, 28, 0.8);
}

.btnselengkapnya2 {
    grid-column: 1 / -1;
    justify-self: center;
    order: 5;
    height: 20px;
    width: 120px;
    padding: 10px;
    border-radius: 17px;
    font-family: sans-serif;
    color: azure;
    text-decoration: none;
    margin-inline-end: 20px;
    background-color: #e63946;
    text-align: center;
    font-weight: bold;
}

.btnselengkapnya2:hover {
    transition: 0.5s;
    background-color: #3b06fa;
}

.gallery {
    display: grid;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #f1faee;
    grid-template: "gbrglr tulisanglr" 1fr / 1fr 1fr;
    justify-items: center;
    font-family: "Poppins", sans-serif;
    gap: 30px;
}

.gbrglr {
    grid-area: gbrglr;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: end;
    align-content: center;
    gap: 20px;
}

.gbrglr img:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.tulisanglr {
    justify-self: start;
    width: 100%;
    grid-area: tulisanglr;
    align-self: center;
}

.tulisanglr h1 {
    color: #e63946;
    font-size: 2.5em;
}

.tulisanglr h2 {
    font-size: 2em;
    line-height: 50px;
}

.tulisanglr p {
    font-family: sans-serif;
    font-size: 1em;
    line-height: 25px;
    width: 600px;
}

.gallery .gbrglr img {
    width: 210px;
    height: 150px;
    border: 10px solid #1d1a2d;
    border-radius: 7px;
}

footer {
    background-color: #181625;
    display: grid;
    width: 100%;
    grid-template: "map footerlist footerlist" 150px "map footerlist footerlist" 150px "sosmed . ." 100px / 1fr 1fr 1fr;
    padding: 20px;
    font-family: "Poppins", sans-serif;
}

iframe {
    grid-area: map;
    width: 370px;
    height: 250px;
    justify-self: end;
    align-self: end;
}

.footerlist {
    grid-area: footerlist;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: end;
}

.footerlist ul {
    list-style: none;
    color: #e63946;
}

.footerlist ul li p {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 50px;
}

.footerlist ul li a {
    text-decoration: none;
    color: #f1faee;
    line-height: 50px;
}

.sosmed {
    grid-area: sosmed;
    width: 370px;
    display: flex;
    justify-content: space-evenly;
    justify-self: end;
}

.sosmed i {
    color: #f1faee;
    justify-self: center;
    align-self: center;
}

.sosmed i:hover {
    transform: scale(1.2);
    transition: 0.7s;
    color: #e63946;
}

.panah2 a .panahscroll {
    color: #e63946;
    position: fixed;
    font-size: 3em;
    right: 50px;
    bottom: 50px;
    display: none;
}

.panah2 a .panahscroll.scroll-active {
    display: block;
}


/* Borgir Menu */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 999;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -3px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 4px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}


/* Borgir Menu Animation */

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    background-color: aliceblue;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    background-color: aliceblue;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}


/* Resnponsive Breakpoint titik dimana designnya akan berubah*/


/* ketika lebarnya berapa style apa yang kita rubah */

@media screen and (max-width: 990px) {
    .menu {
        justify-self: end;
        padding-right: 65px;
    }
    .menu-toggle {
        display: flex;
    }
    .menu ul {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        width: 30%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: start;
        z-index: 1;
        background-color: #333;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
        padding-left: 50px;
    }
    .menu ul.slide {
        opacity: 1;
        transform: translateY(0);
    }
    header {
        height: fit-content;
    }
    .ikon {
        display: inline-block;
        font-size: 2em;
    }
    .about {
        font-size: 0.59em;
        padding: 50px;
    }
    .about .btnselengkapnya {
        font-size: 1.5em;
    }
    .lady {
        width: 500px;
        height: 300px;
        margin-top: -100px;
    }
    .gbr1 {
        width: 70px;
        height: 70px;
        left: 380px;
        top: 80px;
    }
    .gbr3 {
        width: 150px;
        height: 80px;
        left: 210px;
    }
    .gbr4 {
        width: 80px;
        height: 80px;
        right: 180px;
        top: 250px;
    }
    .gbr5 {
        width: 80px;
        height: 80px;
        right: 220px;
    }
    .product {
        padding: 50px 100px;
        height: max-content;
        gap: 70px 0px;
    }
    .product .product1,
    .product .product2,
    .product .product3 {
        justify-self: center;
    }
    .gallery {
        padding: 40px;
    }
    .gallery .tulisanglr {
        font-size: 0.8em;
        width: 370px;
    }
    .gallery .tulisanglr p {
        width: 300px;
    }
    footer {
        padding-left: 100px;
    }
}


/* @media screen and (max-width: 768px) {} */

@media screen and (max-width: 660px) {
    .menu {
        justify-self: end;
        padding-right: 50px;
    }
    .menu ul {
        width: 70%;
    }
    .konten h1 {
        font-size: 2em;
    }
    .about {
        grid-template-areas: "gambar gambar" "tulisan tulisan";
        height: fit-content;
    }
    .gambar {
        display: grid;
        justify-content: center;
    }
    .gbr {
        display: none;
    }
    .tulisan {
        justify-items: center;
        text-align: center;
    }
    .product {
        padding: 10px;
        gap: 30px 0px;
    }
    .product .jdlproduct p1 {
        width: 100%;
    }
    .gallery {
        grid-template-areas: "gbrglr gbrglr" "tulisanglr tulisanglr";
        gap: 10px 0px;
        padding-bottom: 50px;
        height: fit-content;
        justify-content: center;
    }
    .gbrglr {
        grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
        width: 100%;
        margin: auto;
        padding: 30px;
        gap: 30px;
        box-sizing: border-box;
    }
    .gallery .gbrglr img {
        width: 100%;
        height: 80px;
        border: 8px solid #1d1a2d;
        border-radius: 7px;
    }
    .tulisanglr {
        justify-self: center;
        text-align: center;
    }
    .tulisanglr h1 {
        margin-top: -40px;
        font-size: 1.7em;
        line-height: 30px;
    }
    .tulisanglr h2 {
        font-size: 1.5em;
        line-height: 30px;
    }
    .tulisanglr p {
        margin: auto;
        width: 100%;
        font-size: 0.9em;
    }
    footer {
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "footerlist footerlist footerlist" "map map map" "sosmed sosmed sosmed";
        padding: 0px;
        gap: 20px 0px;
    }
    iframe {
        width: 300px;
        height: 250px;
        justify-self: center;
    }
    .sosmed {
        justify-self: center;
    }
    .panah2 a .panahscroll {
        left: 300px;
    }
}